<div class='hero-unit'>

  <div class='logo-spotlights'>
    <%= image_tag 'radial light.png', class: 'radial-light' %>
    <%= image_tag 'spotlights.png', class: 'spotlights' %>
    <%= image_tag 'logo.png' %>
  </div>

  <h2>TV Advertising for the connected experience</h2>

</div>

<div class='hr'>
  <%= image_tag 'hr.png' %>
</div>

<div class='content'>
  <h1>Curious about the Future of TV?</h1>

  <div class='row'>
    <div class='span-one-third quote'>
      <%= image_tag 'quote.png' %>
    </div>

    <div class='span-one-third contact-info'>
      <%= image_tag "twitter.png" %>
    </div>

    <div class='span-one-third quote'>
      <%= image_tag 'quote.png' %>
    </div>

  </div>

  <div class='row'>
    <div class='span-one-third quote'>
      <p>This is a quote from someone Awesome in charge!</p>

      <div class='quoted'>
        <span class='name'>Max Adington</span>
        CEO, AdBiz, Inc.
      </div>
      <span style='clearfix'></span>
    </div>

    <div class='span-one-third contact-info'>
      <span class='twitter-user'><%= link_to "@AdTonik", "http://twitter.com/adtonik"%></span>

      <button class='shiny-orange' data-controls-modal="email-modal" data-keyboard="true" data-backdrop="true">CONTACT US</button>
    </div>

    <div class='span-one-third quote'>
      <p>A second quote that might be just a little longer and drop down three lines!</p>

      <div class='quoted'>
        <span class='name'>Tim Adington</span>
        AdBiz, Inc.
      </div>
      <span style='clearfix'></span>

    </div>
  </div>
</div>

<div id='email-modal' class='modal hide fade in' style='display: none'>

  <div class='modal-header'>
    <a href='#' class='close'>×</a>
    <h3>Curious about the future of TV?</h3>
  </div>

  <form action="/email_submit" method="post">      

    <div class='modal-body'>
      <fieldset>
        <label for='email_address'>Email Address</label>
        <div class='input'>
          <input class='xlarge' id='email_address' name='email_address' size='30' type='text'>
        </div>
      </fieldset>
    </div>

    <div class='modal-footer'>
      <input type='submit' class='btn secondary' value='Submit'>
    </div>
  </form>
</div>