<div class='hero-unit'>

  <div class='logo-spotlights'>
    <%= image_tag 'radial light.png', class: 'radial-light' %>
    <%= image_tag 'spotlights.png', class: 'spotlights' %>
    <%= image_tag 'logo.png' %>
  </div>

  <h2>TV Advertising for the connected experience</h2>
  
  <div class='tv-message'>
    <%= image_tag "tv.png", class: 'tv' %>
  </div>  
</div>

<div class='hr'>
  <%= image_tag 'hr.png' %>
</div>

<div class='content'>
  <h1>Curious about the Future of TV?</h1>
  
  <div class='row'>
    <div class='span-one-third quote'>
      <%= image_tag 'quote.png' %>
      <p>This is a quote from someone Awesome in charge!</p>
      
      <div class='quoted'>
        <span class='name'>Max Adington</span>
        CEO, AdBiz, Inc.
      </div>
      <span style='clearfix'></span>
    </div>
    
    <div class='span-one-third contact-info'>
      <%= image_tag "twitter.png" %>
      <span class='twitter-user'>@AdTonik</span>
    </div>
    
    <div class='span-one-third quote'>
      <%= image_tag 'quote.png' %>
      <p>A second quote that might be just a little longer and drop down three lines!</p>
      
      <div class='quoted'>
        <span class='name'>Tim Adington</span>
        AdBiz, Inc.
      </div>
      <span style='clearfix'></span>
      
    </div>
  </div>
</div>